</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Mongoose Flights</a>
    <ul class="nav navbar-nav">
      <a class="nav-item nav-link" href="../">Home</a>
      <a class="nav-item nav-link" href="/flights">Flights</a>
      <a class="nav-item nav-link" href="/flights/new">New Flight</a>
      <a class="nav-item nav-link" href="/destinations/new">New Destination</a>
      </ul>
    </div>
  </nav>