<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
    <title>Mongoose-Flights</title>
  </head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Mongoose Flights</a>
    <ul class="nav navbar-nav">
      <a class="nav-item nav-link" href="../">Home</a>
      <a class="nav-item nav-link" href="/flights">Flights</a>
      <a class="nav-item nav-link" href="/flights/new">New Flight</a>
      <a class="nav-item nav-link" href="/destinations/new">New Destination</a>
      </ul>
    </div>
  </nav>

  <!-- showcase -->

  <section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Book Your <span class="text-warning">Flights</span></h1>
          <p class="lead my-4">Unit 2 Lab <span class="text-warning">||</span> Mongoose-Flight <span class="text-warning">||</span>  Alex Cormier</p>
          <p class="lead my-4"><span class="text-warning">Use NavBar above</span></p>

        </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="imgs/airplane.png" alt=""/>
      </div>
    </div>
  </section>
</body>
</html>
