<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Create New <span class="text-warning">Destination</span></h1>
          <p class="lead my-4">Unit 2 Lab <span class="text-warning">||</span> Mongoose-Flight <span class="text-warning">||</span>  Alex Cormier</p>
          <p class="lead my-4"><span class="text-info">Use the form below to select: Airline, Airport, Flight Number, and Departure Date/Time</span></p>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="../imgs/world.png" alt=""/>
      </div>
    </div>
  </section>
  <section class="bg-primary text-light p-5 text-center">
    <div class="container">
      <h1>Enter A New Destination</h1>
    </div>
  </section>
  <p>Please first ensure that the Destination is not in the dropdown
    <select name="airport">
      <% destinations.forEach(function(destination) { %>
        <option><%= destination.airport%></option>
      <% }) %>
    </select>
  </p>
  <form id="add-destination-form" action="/destinations" method="POST" class="w-50 px-5 display-grid">
    <label for="airport-input">Destination:</label>
    <input type="text" name="airport" id="airport-input">
    <button class="btn btn-primary btn-xs btn-block align-self-center" type="submit">Add Destination</button>
</form>
</main>>

<%- include("../partials/footer") %>