<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Create New <span class="text-warning">Flight</span></h1>
          <p class="lead my-4">Unit 2 Lab <span class="text-warning">||</span> Mongoose-Flight <span class="text-warning">||</span>  Alex Cormier</p>
          <p class="lead my-4"><span class="text-info">Use the form below to select: Airline, Airport, Flight Number, and Departure Date/Time</span></p>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="../imgs/world.png" alt=""/>
      </div>
    </div>
  </section>
  <section class="bg-primary text-light p-5 text-center">
    <div class="container">
      <h1>Enter A New Flight</h1>
    </div>
  </section>
  <div class="container form-input bg-light my-5 py-3" id="destCon">
  <form action="/flights" method="POST" class="w-50 px-5 display-grid">
    <div class="row my-row">
      <div class="col-12 my-col form-group">
      <label for="exampleFormControlInput1" class="text-lg-center">Airline:</label>
          <select class="form-select" id="exampleFormControlSelector1" name="airline">
              <option>American</option>
              <option>Southwest</option>
              <option>United</option>
          </select>
      </div>
      <div class="row my-row py-2">
      <div class="col-12">
        <label for="exampleFormControlInput2">Airport
        <select class="form-select align-items-center justify-content-between" id="exampleFormControlSelect2" name="airport">
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select>
      </label></div></div>
      <div class="row my-row py-2">
      <div class="col-12">
        <label for="exampleFormControlTextarea1">Flight Number
        <input type="number" min="10" max="9999" name="flightNo" class="form-control" id="exampleFormControlTextarea1" required /> 
      </label></div></div>
      <div class="row my-row py-2 text-cemter" >
        <div class="col-12">
      <label for="exampleFormControlInput3">Departs:
        <input type="datetime-local" name="departs" id="exampleFormControlInput3">
      </label></div></div>
      <button onclick= "location.href='/flights'" class="btn btn-primary btn-xs btn-block align-self-center" type="submit">Add Flight</button>
  </form>
</div>
</div>
</main>>

<%- include("../partials/footer") %>